<po-page-default p-title="Formulario" [p-breadcrumb]="breadcrumb">


  <po-widget *ngIf="codigo" class="po-md-12" [p-height]="380" p-primary-label="Próximo" p-title="Purchase"
    (p-primary-action)="valited('codigo')">

      <po-input p-clean='true' [(ngModel)]="input" name="input" p-clean="" p-label="Codigo do produto" p-required>
      </po-input>

  </po-widget>

  <po-widget *ngIf='chooseProduct'>
    <po-button *ngIf="buttonChooseProduct" p-size='lg' p-label='Escolher' (click)="valited('chooseProduct')"></po-button>
    <form #produtoInputForm="ngForm">

      <po-table (p-selected)="chooseSelect($event)"
      (p-unselected)="chooseDeselect($event)" [p-striped]="true" [p-actions]="tableActions" [p-single-select]="true" [p-selectable]="true"
        [p-columns]="columns" [p-items]="items"> </po-table>
    </form>

  </po-widget>

  <po-widget *ngIf="exchange">
    <po-select name="all" (p-change)="changeEventRepo($event)" p-label="Opções de Troca*" [p-required]='true'
      [p-options]="all">
    </po-select>

    <po-textarea name="nota" [(ngModel)]="descricao" name="descricao"  p-label="Nota adicional *"> </po-textarea>

    <po-button p-size='lg' p-label='Escolher' (click)="valited('buttonExchange')"></po-button>


  </po-widget>


  <po-widget *ngIf="uploaded">

    <po-upload  [p-auto-upload]="true" name='image' p-label='Selecione até 3 imagem' [p-drag-drop]="true" [p-required]="true"
      [p-multiple]="true" [p-restrictions]="restrictions" (p-success)="valited('uploaded')"
      (p-error)="valited('uploaded')" (p-upload)="changeEvent('p-upload')"
      p-url='https://api.imgbb.com/1/upload?&key=bf0362a061f1cada6cb4cfc1885f36c4'></po-upload>
  </po-widget>

  <po-widget *ngIf="notes">
    <h1>Espelho de notas</h1>
    <po-dynamic-view
    [p-fields]="detailFields"
    [p-value]="valuesEspelhoNota"
    >

    </po-dynamic-view>

    <po-button p-size='lg' p-label='Escolher' (click)="valited('notes')"></po-button>

  </po-widget>

  <po-widget *ngIf="finish">
    <h1>Confirmar todas as informações</h1>
    <po-dynamic-view
    [p-fields]="fieldsConfirm"
    [p-value]="valuesConfirm"
    ></po-dynamic-view>
    <po-button class="po-sm-12 po-mt-2" p-label="Confirm"> </po-button>
  </po-widget>

  <po-modal #userDetailModal p-title="Detalhes do Produto">
    <po-table [p-striped]="true" [p-auto-collapse]="true" [p-hide-columns-manager]="true" [p-sort]="true"
      [p-actions]="tableActions" [p-single-select]="true" [p-selectable]="true" [p-columns]="columns"> </po-table>

  </po-modal>

  <po-modal #userDetailProduto p-title="Detalhes do Produto">
    <po-dynamic-view p-size="lg" [p-fields]="detailFields" [p-value]="detailedProduto"> </po-dynamic-view>
  </po-modal>

  <po-modal #sucessData p-title="Confirmação" [p-primary-action]="confirm">
    <div class="po-row">
      <p class="po-sm-12 po-font-title">Formulário de garantia enviado!</p>
    </div>
  </po-modal>
</po-page-default>
