/* You can add global styles to this file, and also import other style files */
.cliente h1.po-page-header-title{
    color:mediumvioletred;
}
.cliente .po-menu {
    background-color: whitesmoke;
    color: #c9357d;
}
.cliente .po-menu-inner div{
    color: #c9357d;
}

.uk-section-default .uk-section{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  display: flow-root;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 70px;
  background: #fff;
}

.uk-container
{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  display: flow-root;
  box-sizing: content-box;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0;
}

.uk-container .uk-margin-remove-top{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -70px;
  margin-top: 0!important;
  margin-bottom: 0;
}

.uk-first-column
{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  color: #505050;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  list-style: none;
  margin: 0;
  padding-left: 70px;
  box-sizing: border-box;
  max-width: 100%;
  width: 25%;
  flex-grow: 1;
}
.uk-first-column h3{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  list-style: none;
  margin: 0 0 20px 0;
  font-family: inherit;
  font-weight: inherit;
  color: #1a4d6d;
  text-transform: inherit;
  letter-spacing: 0;
  font-size: 24px;
  line-height: 1.2;
  box-sizing: border-box;
  max-width: 100%;
  width: 150px;
  text-align: left!important;
}

.uk-painel{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  list-style: none;
  max-width: 100%;
  width: 450px;
  color: #a3a4a8!important;
  text-align: left!important;
  display: flow-root;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0;
}

.uk-painel p{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.74;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  --bs-blue: #33BBED;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #E44E56;
  --bs-orange: #fd7e14;
  --bs-yellow: #FF9E45;
  --bs-green: #3DC372;
  --bs-teal: #20c997;
  --bs-cyan: #33BBED;
  --bs-white: #fff;
  --bs-gray: #a3a4a8;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #a3a4a8;
  --bs-gray-700: #6C6D74;
  --bs-gray-800: #343a40;
  --bs-gray-900: #2D2E33;
  --bs-primary: #33BBED;
  --bs-secondary: #a3a4a8;
  --bs-success: #3DC372;
  --bs-info: #33BBED;
  --bs-warning: #FF9E45;
  --bs-danger: #E44E56;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-rgb: 33,37,41;
  --bs-font-sans-serif: Montserrat;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --uk-breakpoint-s: 640px;
  --uk-breakpoint-m: 960px;
  --uk-breakpoint-l: 1200px;
  --uk-breakpoint-xl: 1600px;
  --uk-leader-fill-content: '.';
  --uk-position-margin-offset: 0px;
  list-style: none;
  color: #a3a4a8!important;
  text-align: left!important;
  box-sizing: border-box;
  margin: 0 0 20px 0;
}
